.nav {

  &__top-actions {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
  }

  &__menu-opener {
    text-decoration: none;
  }
}
