.nav {
  @include onDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 60px;
  }

  &__top-actions {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onDesktop {
      display: block;
      padding: 0;
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__menu-opener {
    text-decoration: none;

    @include onDesktop {
      display: none;
    }
  }
}
