.news {
  &__header {
    margin: 40px 16px;
    color: $color-header;
    font-weight: 500;
    font-size: 18px;
    font-family: "Exo 2", sans-serif;

    @include onDesktop {
      font-size: 30px;
      text-align: center;
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      background-color: $color-red;
      width: 75vw;
      height: 2px;
      margin-top: 14px;

      @include onDesktop {
        width: 90px;
        margin-top: 10px;
        margin: 10px auto 62px;
      }
    }
  }
}
