$color-black: #000;
$color-white: #fff;
$color-red: #e00034;
$color-grey: #969798;
$color-blue: #2db3ff;
$color-green: #219653;
$color-header: #1f1d2a;
$color-light-grey: #d2d2d2;
$transition-time: 0.3s;
